<div class="container my-4">
  <div id="galleryCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/img/tree-1.webp" class="d-block w-100" alt="Tree pruning">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/tree_removal_conifre_after.webp" class="d-block w-100" alt="Tree removal">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/stump_grinder_in_use.webp" class="d-block w-100" alt="Stump grinding">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#galleryCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#galleryCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
