
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-success sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="{{ '/' | relative_url }} ">
      <img src="{{ '/assets/img/tree-1.jpg' | relative_url }}"  style="height: 30px; margin-right: 10px;">
      <span>Force of Nature Tree Works</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown me-2">
          <a class="nav-link pill-link dropdown-toggle" href="#" id="navbarDropdownAbout" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About Us
          </a>
          <ul class="dropdown-menu bg-success" aria-labelledby="navbarDropdownAbout">
            <li><a class="dropdown-item text-white" href="{{ '/gallery.html' | relative_url }}">Gallery</a></li>
            <li><a class="dropdown-item text-white" href="{{ '/testimonials.html' | relative_url }}">Testimonials</a></li>
            <li><a class="dropdown-item text-white" href="{{ '/blog.html' | relative_url }}">Blog</a></li>
          </ul>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link pill-link" href="{{ '/contact.html' | relative_url }}">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pill-link" href="{{ '/services.html' | relative_url }}"><span>Services</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
