
<nav class="navbar navbar-expand-lg navbar-dark bg-success sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/tree-site">
      <img src="/assets/images/logo.png"  style="height: 30px; margin-right: 10px;">
      <span>Force of Nature Tree Works</span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown me-2">
          <a class="nav-link pill-link dropdown-toggle" href="#" id="navbarDropdownAbout" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            About Us
          </a>
          <ul class="dropdown-menu bg-success" aria-labelledby="navbarDropdownAbout">
            <li><a class="dropdown-item text-white" href="/tree-site/gallery.html">Gallery</a></li>
            <li><a class="dropdown-item text-white" href="/tree-site/our-story.html">Our Story</a></li>
            <li><a class="dropdown-item text-white" href="/tree-site/testimonials.html">Testimonials</a></li>
            <li><a class="dropdown-item text-white" href="/tree-site/blog.html">Blog</a></li>
          </ul>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link pill-link" href="/tree-site/contact.html">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pill-link" href="/tree-site/services.html">Services</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
