<section class="pt-4">
  <div class="container rounded-3 shadow" style="background-color: rgba(255, 255, 255, 0.8);" >
    <div class="row justify-content-center">
      <div class="col-md-3">
        <img src="/assets/img/lantra-awards-removebg-preview.png" alt="Trustpilot Badge" class="img-fluid mb-2 pt-3" style="max-width: 80px; height: auto;">
      </div>
      <div class="col-md-3">
        <img src="/assets/img/insured.png" alt="Fully Insured" class="img-fluid mb-2" style="max-width: 100px; height: auto;">
      </div>
      <div class="col-md-3">
        <img src="/assets/img/eco-friendly.png" alt="Eco-Friendly" class="img-fluid mb-2" style="max-width: 100px; height: auto;">
      </div>
    </div>
  </div>
</section>
