
  <div class="bg-white p-4 rounded-3 shadow">
        <h1 class="text-center mb-4">Comprehensive Tree Care Services</h1>
        <p class="lead text-center mb-5">Force of Nature offers a full range of professional tree management solutions tailored to your needs.</p>
        <div class="row">
            <div class="col-md-6 col-lg-4 mb-4">
              <a href="{{ '/tree_trimming.html' | relative_url }}" class="service-card-link">
                    <div class="service-card rounded-3 shadow-sm position-relative overflow-hidden">
                      <img src="{{ '/assets/img/james_in_conifer.jpg' | relative_url }}" alt="Tree Pruning and Trimming" class="service-card-img img-fluid">
                        <div class="service-card-overlay d-flex align-items-center justify-content-center">
                            <h3 class="service-card-title text-black text-center">Tree Pruning & Trimming</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
              <a href="{{ '/tree_removal.html' | relative_url }}" class="service-card-link">
                    <div class="service-card rounded-3 shadow-sm position-relative overflow-hidden">
                      <img src="{{ '/assets/img/james_up_monolithed_beech.jpg' | relative_url }}" alt="Tree Removal" class="service-card-img img-fluid">
                        <div class="service-card-overlay d-flex align-items-center justify-content-center">
                            <h3 class="service-card-title text-black text-center">Tree Removal</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
              <a href="{{ '/storm_clean_up.html' | relative_url }}" class="service-card-link">
                    <div class="service-card rounded-3 shadow-sm position-relative overflow-hidden">
                      <img src="{{ '/assets/img/strom_damaged_conifire.jpg' | relative_url }}" alt="Storm Clean Up" class="service-card-img img-fluid">
                        <div class="service-card-overlay d-flex align-items-center justify-content-center">
                            <h3 class="service-card-title text-black text-center">Storm Clean Up & Emergancy Work</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
              <a href="{{ '/emergency_work.html' | relative_url }}" class="service-card-link">
                    <div class="service-card rounded-3 shadow-sm position-relative overflow-hidden">
                      <img src="{{ '/assets/images/service-emergency.jpg' | relative_url }}" alt="Emergency Work" class="service-card-img img-fluid">
                        <div class="service-card-overlay d-flex align-items-center justify-content-center">
                            <h3 class="service-card-title text-black text-center">Emergency Work</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
              <a href="{{ '/stump_grinding.html' | relative_url }}" class="service-card-link">
                    <div class="service-card rounded-3 shadow-sm position-relative overflow-hidden">
                      <img src="{{ '/assets/img/stump_grinder_in_use.jpg' | relative_url }}" alt="Stump Grinding" class="service-card-img img-fluid">
                        <div class="service-card-overlay d-flex align-items-center justify-content-center">
                            <h3 class="service-card-title text-black text-center">Stump Grinding</h3>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-lg-4 mb-4">
              <a href="{{ '/tree_inspections.html' | relative_url }}" class="service-card-link">
                    <div class="service-card rounded-3 shadow-sm position-relative overflow-hidden">
                      <img src="{{ '/assets/img/callum_up_big_beech.jpg' | relative_url }}" alt="Tree Inspections" class="service-card-img img-fluid">
                        <div class="service-card-overlay d-flex align-items-center justify-content-center">
                            <h3 class="service-card-title text-black text-center">Tree Inspections</h3>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
